@model DSWGrupo01.Models.ViniloModel
@section Styles {
    <link rel="stylesheet" href="~/css/carrito.css" />
}
<div class="row g-4 align-items-center mt-5">
    <div class="col-6 ">
        <img src="@Model.ImagenUrl" alt="@Model.Titulo" class="vinilo-imagen" />
    </div>

    <div class="col-6">

        <h2 class="textTitel">@Model.Titulo</h2>

        <p class="precio py-4">S/ @Model.Precio </p>
        <p class="details">Artista: @Model.Artista</p>
        <p class="details">Año:@Model.Anio.Year</p>
        <p class="details">Descripción:@Model.Descripcion</p>
        <p class="available py-2">Disponibles: @Model.Stock</p>

        <form asp-controller="Carrito" asp-action="Agregar" method="post" class="mt-3">
            <input type="hidden" name="viniloId" value="@Model.Id" />

            <div class="cantidad-container">
                <button type="button" id="btnMenos" class="btn btn-outline-secondary btn-cantidad">−</button>
                <input id="cantidad" name="cantidad" type="number"
                       value="1" min="1"
                       class="form-control cantidad-input" />
                <button type="button" id="btnMas" class="btn btn-outline-secondary btn-cantidad">+</button>
            </div>

            <button type="submit" class="btn btn-success mt-3">Agregar al carrito</button>
        </form>

    </div>
</div>
@section Scripts {
    <script src="~/js/cariito_detalles.js"></script>
}